<div class="sidebar-wrapper rz-background-color-success-lighter">
    <div class="sidebar-content @(isMenuOpen ? "menu-open" : "menu-closed")">
        <RadzenPanelMenu ExpandMode="PanelMenuExpandMode.Single"
                         Style="width: 100%;">
            <RadzenPanelMenuItem Text="Inicio" Icon="home" Path="" />
            <RadzenPanelMenuItem Text="Bicicletas" Icon="motorcycle">
                <RadzenPanelMenuItem Text="Bicicleta" Icon="directions_bike" Path="bicycle" />
                <RadzenPanelMenuItem Text="Estado Bicicleta" Icon="pedal_bike" Path="state-bicycle" />
            </RadzenPanelMenuItem> 
            <RadzenPanelMenuItem Text="Estaciones" Icon="directions_subway_filled">
                <RadzenPanelMenuItem Text="Estación" Icon="escalator" Path="station" />
                <RadzenPanelMenuItem Text="Estado Bicicleta" Icon="pedal_bike" Path="state-bicycle" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </div>
</div>


@code {
   
}
