<div class="sidebar-wrapper rz-background-color-success-lighter">
    <div class="sidebar-content @(isMenuOpen ? "menu-open" : "menu-closed")">
        <RadzenPanelMenu ExpandMode="PanelMenuExpandMode.Single"
                         Style="width: 100%;">
            <RadzenPanelMenuItem Text="Inicio" Icon="home" Path="" />
            <RadzenPanelMenuItem Text="Contador" Icon="calculate" Path="counter" />
            <RadzenPanelMenuItem Text="Clima" Icon="cloud" Path="weather" />
        </RadzenPanelMenu>
    </div>
</div>


@code {
   
}
