/* Contenedor general */
.layout-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}



/* Layout principal (sidebar + contenido) */
.layout-body {
	display: flex;
	flex: 1;
	position: relative;
	transition: all 0.3s ease;
	background-color: var(--rz-panel-menu-background-color);
}

/* Sidebar base */
.sidebar {
	width: 250px;
	/*background-color: var(--rz-success-lighter);*/
	color: white;
	height: calc(100vh - 3.5rem);
	overflow-y: auto;
	transition: transform 0.3s ease;
	z-index: 2000;
}
	/* Cuando el menú está oculto */
	.sidebar.collapsed {
		transform: translateX(-100%);
		width: 0;
		min-width: 0;
	}

/* Área de contenido */
.main-content {
	flex: 1;
	padding: 1.5rem;
	transition: all 0.3s ease;
}

/* Escritorio */
@media (min-width: 769px) {
	.layout-body.menu-collapsed .main-content {
		margin-left: 0;
	}
    .sidebar {
        position: sticky;
        top: 3.5rem;
        transform: translateX(0);
        transition: transform 0.3s ease;
    }

    .sidebar.collapsed {
        transform: translateX(-250px); /* o -100% */
    }

    .main-content {
        flex: 1;
        padding: 1rem;
        transition: margin-left 0.3s ease;
    }
}
/* Móvil: sidebar flotante y oculto por defecto */
@media (max-width: 768px) {
	.sidebar {
		position: fixed;
		top: 50px; /* altura del topbar */
		left: 0;
		height: calc(100vh - 50px);
		z-index: 1001;
		/*background-color: var(--rz-success-lighter);*/
		width: 250px;
		transform: translateX(-100%);
		transition: transform 0.3s ease;
	}

		.sidebar.open {
			transform: translateX(0);
		}
	.layout-body::after {
		content: "";
		display: block;
		position: fixed;
		top: 50px;
		left: 0;
		width: 100%;
		height: calc(100vh - 50px);
		background: rgba(0, 0, 0, 0.4);
		z-index: 1000;
	}
	.layout-body.menu-collapsed::after {
		display: none;
	}

	.main-content {
		flex: 1;
		padding: 0.5rem;
		width: 100%;
	}
}
