@inherits LayoutComponentBase
<RadzenComponents @rendermode="@RenderMode.InteractiveWebAssembly" />

<AuthorizeView>
    <Authorized>
        <div class="layout-wrapper">
            
              <TopbarComponent OnToggleMenu="ToggleMenu"/>
            
            <div class="layout-body @(isMenuOpen ? "" : "menu-collapsed")">
                <nav class="sidebar @(isMenuOpen ? "open" : "collapsed")">
                    <PanelMenuComponent />
                </nav>

                <main class="main-content">
                    @Body
                </main>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool isMenuOpen = true;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}